
    <main class="my-auto">
        <img src="./assets/images/coming-soon.jpg" alt="Coming soon" class="header-img img-fluid">
            <p>Welcome to the dashboard!</p>
        <h1 class="page-title">We are launching soon.Please reload after days.</h1>
        <p class="page-description">Here you can find the latest updates and statistics.</p>

        <nav class="footer-social-links">
            <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
        </nav>
    </main>

