<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">


      <div class="">
        <!-- <pm-dashboard></pm-dashboard> -->


      <div class="text-center">
        <img src="./assets/images/logo.jpg"
              class="img-responsive center-block"
              style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Course Name : </div>
      <div class="text-center">
        <h3>Angular: Getting Started</h3>
      </div>

      <div class="text-center">By : </div>
      <div class="text-center">
        <h3>Deborah Kurata</h3>
      </div>


    </div>
  </div>
      </div>
</div>
